.sidebar1 {
    background: #212529;
    padding: 0px;
    height: auto;
   
}
.list {
    color: #fff;
    list-style: none;
    margin-left: 40px;
}

.list::first-line {
    color: rgba(56, 3, 63, 0.973);
}
.color-down{
    background-color: black;
}
