.cnt-color{
    color: crimson;
    
}
.email{
    text-decoration: none;
}
.phone{
    display: inline;
    background-color: aqua;
    color: darkmagenta; 
}
.contact-second{
    color: rgb(5, 5, 5);
    text-align: center;
   
}
.opening-hour{
    color: rgb(17, 16, 16);
    font-family: 'Poppins', sans-serif;
}
.sun-close{
    display: inline;
    background-color: red;
    color: rgb(238, 255, 0);
};
.claim{
    background-color: black;
}