.navbar-custom{
    color: white;
    background-color: #212529;
}
.user{
    width: 35px;
    background-color: white;
    border-radius: 25px;
}
.header nav a:hover{
    background-color:blue ;
    border-radius: 10px;
    border: solid 1px;
}