.teachers-colour{
    color: blue;
}
.row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.try{
    
    color: blue;
}
.course-center{
    text-align: center;
    color: blue;
    font-display:bold;
}
