
.container{display: flex;
    justify-content: center;
    align-items: center;

}
.login-form{
    
    margin-right: 100px;
    
    }
    .btn-regular{
        color: rgb(14, 15, 15);
        background-color: rgb(255, 153, 0);
    }
    .login-please{
        
        color: rgb(182, 24, 221);
    }
    .submit-login{
        background-color: rgb(97, 5, 245);
        color: cyan;
        
    }
    .container img{
        width: 60%;
        height: 60%;
        margin-bottom: 85px;
        margin-left: 135px;
    }