.we{
    text-align: center;
    padding-bottom: 20px;
}
.choto{
    margin-right: 40px;
}
.margin{
    margin-left: 45px;
}
.our-teacher-center{
    text-align: center;
    margin-top: 40px;
    color: blue;
}