.we{
    text-align: center;
    padding-bottom: 20px;
}
.choto{
    margin-right: 40px;
}
.margin{
    margin-left: 45px;
}
.features{
    text-align: center;
    margin-bottom: 25px;
    color:blue;
    
}
